/**

  Use animations here. Useful resources on http://docs.codacloud.net

**/

.head {
  animation-name: headBob;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes headBob {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.body {
  animation-name: bodyBounce;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes bodyBounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.left.hand {
  animation-name: leftHandWave;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: 100% 0;
}

@keyframes leftHandWave {
  0%, 100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(30deg);
  }
}

.right.hand {
  animation-name: rightHandWave;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: 0% 0;
}

@keyframes rightHandWave {
  0%, 100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-30deg);
  }
}

.left.foot {
  animation-name: leftFootTap;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes leftFootTap {
  0%, 100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(10deg);
  }
}

.right.foot {
  animation-name: rightFootTap;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes rightFootTap {
  0%, 100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-10deg);
  }
}
